.Settings{
    position: relative;
}
.settingsToggle{
    appearance: none;
    cursor: pointer;
    background-image: url('../assets/settings.png');
    background-size: cover;
    height: 2.5rem;
    aspect-ratio: 1/1;
    transition: transform .2s ease;
}
.settingsToggle:checked{
    transform: rotate(0.25turn);
}
.expandedSettings{
    position: absolute;
    right: -1em;
    margin-top: .5em;
    display: flex;
    padding: .5em .5em;
    border: .1rem solid #463714;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 2rem;
    background-color: #010A13;
    color: #C89B3C;
}
