.Toggle{
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em .5em;
}
.Toggle input{
    appearance: none;
    position: relative;
    background-color: #1E282D;
    border: .1rem solid #463714;
    border-radius: 1rem;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
}
.Toggle input::before{
    content: '';
    position: absolute;
    background-color: #0A1428;
    height: 90%;
    width: 50%;
    left: 5%;
    top: 5%;
    bottom: 5%;
    border-radius: 1rem;
    transition: left .2s ease;
}
.Toggle input:checked::before{
    background-color: #785A28;
}
.Toggle input:checked:before{
    left:45%;
}