@font-face {
  font-family: 'beaufortforLOL';
  src: url('./assets/BeaufortforLOL-Bold.otf') format('opentype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'beaufortforLOL';
}
